USE [master]
GO
/****** Object:  Database [2021-МДК02.02-УП-Паламарчук]    Script Date: 17.05.2021 16:05:28 ******/
CREATE DATABASE [2021-МДК02.02-УП-Паламарчук]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'2021-МДК02.02-УП-Паламарчук', FILENAME = N'D:\SQLSERVER\2021-МДК02.02-УП-Паламарчук.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'2021-МДК02.02-УП-Паламарчук_log', FILENAME = N'D:\SQLSERVER\2021-МДК02.02-УП-Паламарчук_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [2021-МДК02.02-УП-Паламарчук].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [2021-МДК02.02-УП-Паламарчук]
GO
/****** Object:  Table [dbo].[User]    Script Date: 17.05.2021 16:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] NOT NULL,
	[Surname] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [int] NOT NULL,
	[ResqureWord] [nvarchar](50) NULL,
	[AccessLevel] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
